@model MyInternetStore.Domain.Product

<form asp-controller="Products" asp-action="Buy" method="post">
    <label>Введите ваше ФИО:</label>
    <input type="text">
    
    <input type="submit">
</form>