@model List<Product>

@using MyInternetStore.Domain

@{
    ViewData["Title"] = "Каталог";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var product in Model)
{
    Html.RenderPartial("_ProductCard", product);
}